<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/Home_Page_Style.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Encode Sans" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Zen Maru Gothic" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{url_for('Home_Page')}}" style="color: #fbfeff">FARCO</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('Log_In')}}">Log In</a></li>
                    <li><a href="{{url_for('View_Attendance')}}">View Attendance</a></li>
                    <li><a href="{{url_for('About_Me')}}">About Me</a></li>
                </ul>
            </div>
        </nav>
        <img id="img-profile" src="{{url_for('static', filename='images/profile.jpeg')}}" alt="My picture" height="40%" width="20%" />
        <div id="about-me">
            <h1 class="animate__animated animate__lightSpeedInRight" style="font-size: 45px; color: #070d37; text-align: center">
                Hey! I'm Ramya!<br /><br />
            </h1>
            <h4 style="font-size: 20px; color: #1a2e35">
                I'm a 2nd year student pursuing BTech CSE with specialization in AI and Robotics at VIT Chennai. I am passionate about 
                creating software projects and learning different tech stacks that help me achieve the same. I created FARCO with the intention 
                to make attendance management faster, easier and more efficient. FARCO is also a very flexible system that can be 
                utilised by any type of organisation like offices, schools, colleges, shops and the list goes on. Throughout the process 
                of making this project, I have learnt a lot and have explored various tech stacks and concepts on face recognition. <br /><br />
            </h4>
            <h4 style="font-size: 20px; color: #1a2e35; text-align: center">
                I believe feedbacks help me improve and grow so reach out me!<br />
            </h4>
            <h4 style="font-size: 20px; color: #1a2e35; text-align: center">
                <a href="mailto: ramyatofficial@gmail.com" style="text-decoration: none">
                    <button id="Submit" style="text-align: center">Send Feedback</button>
                </a>
                <br /><br /><br /> Find me on<br /><br />
                <a target="_blank" href="https://github.com/R-my-T"><i class="fa fa-github" style="color: white; font-size: 36px"></i></a> &nbsp &nbsp
                <a target="_blank" href="https://www.linkedin.com/in/ramya-t-357a2a232/"><i class="fa fa-linkedin-square" style="color: white; font-size: 36px"></i></a> &nbsp;
            </h4>
        </div>
    </body>

</html>