<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/Home_Page_Style.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Encode Sans" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Zen Maru Gothic" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{url_for('Home_Page')}}" style="color: #fbfeff">FARCO</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('Log_Out')}}">Log out</a></li>
                    <li><a href="{{url_for('View_Attendance')}}">View Attendance</a></li>
                    <li><a href="{{url_for('About_Me')}}">About Me</a></li>
                </ul>
            </div>
        </nav>
        <br /><br /><br /><br />
        <div id="center2" style="text-align: center">
            <h1 style="text-align: center; font-size: 30px">
                Kindly enter how long you would like the system to take attendance for!<br /><br />
            </h1>
            <form action="{{ url_for ('Set_Timer') }}" method="POST">
                <h4>
                    <label>Give your timer in minutes</label><br />
                    <input type="text" name="timer" style="color: black; height: 32; font-size: 22px" /><br /><br />
                    <input type="submit" id="Submit" value="Submit" style="text-align: center" />
                </h4>
            </form>
        </div>
    </body>

</html>